# keeping the working directory "output" untracked
test_cases/RANS_kOmega-SST_2D/output
test_cases/RANS_kOmega-SST_3D/output


# untracked files in the RANS_kOmega-SST_3D case 
test_cases/RANS_kOmega-SST_3D/constant/polyMesh

test_cases/RANS_kOmega-SST_3D/system/createPatchDict
test_cases/RANS_kOmega-SST_3D/system/mirrorMeshDict
test_cases/RANS_kOmega-SST_3D/system/probesDict

test_cases/RANS_kOmega-SST_3D/0/epsilon
test_cases/RANS_kOmega-SST_3D/0/nuTilda

log.*
*.png
*.foam
*.obj
