# keeping the working directory "run" untracked
test_cases/kOmega-SST_2D/run
test_cases/kOmega-SST_3D/run
test_cases/spalart_allmaras/run
test_cases/kOmegaSSTLM/run
test_cases/kOmegaSSTIDDES/run

# untracked files in the RANS_kOmega-SST_3D case 
log.*
*.png
*.foam
*.obj
*.ipynb_checkpoints

test_cases/kOmega-SST_2D/steadyState/system/snappyHexMeshDict
test_cases/kOmega-SST_2D/steadyState/system/blockMeshDict.snappy
test_cases/kOmega-SST_2D/steadyState/system/meshQualityDict
test_cases/kOmega-SST_2D/steadyState/system/surfaceFeatureExtractDict
test_cases/kOmega-SST_2D/steadyState/constant/triSurface

